.navbar {
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.5);

  .header {
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .content {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .footer {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      font-size: 1rem;
      padding: 0.3rem 0.5rem;
      background: red;
      color: white;
      border: none;
      border-radius: 0.6rem;
      width: max-content;
      cursor: pointer;
    }
  }
}
