.doctor-management {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;

    .button-add {
      .btn-add {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 0.5rem;
        padding: 0.2rem;
        cursor: pointer;
      }
    }

    .table {
      display: flex;
      justify-content: center;
      overflow: auto;
      max-height: 75vh;

      table {
        width: 90vw;
        background-color: rgba(219, 219, 219, 0.2);

        thead {
          text-align: center;
          background-color: rgba(219, 219, 219, 0.6);
          th {
            padding: 0.5rem 0;
          }
        }

        tbody {
          text-align: center;
          height: 80%;

          td {
            .button {
              width: 100%;
              display: flex;
              justify-content: center;
              gap: 1rem;

              .btn-edit {
                color: rgb(255, 208, 0);
              }

              .btn-delete {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
