.delete-doctor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 2rem;
  box-shadow: 1px 1px 10px;
  border-radius: 0.5rem;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 50px;
    width: 100%;
    background-color: blue;
    font-weight: 500;
    color: white;
    font-size: 1.4rem;
  }

  .content {
    font-size: 1.2rem;
  }

  footer {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    border-top: 1px solid gray;
    width: 85%;
    justify-content: center;

    button {
      padding: 0.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 0.5rem;
      font-weight: 700;

      &:focus {
        outline: none;
      }
    }

    .btn-delete {
      background-color: red;
      min-width: 80px;
      color: white;
    }

    .btn-close {
      background-color: rgb(148, 148, 148);
      width: 80px;
    }
  }
}
